@model IEnumerable<MoviesRentalStore.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar")
<h1>Customers</h1><br/>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col"><h2>Customer</h2></th>
            <th scope="col"><h2>Membership Type</h2></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in Model)
        {
            <tr class="table-active">
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new {Id = customer.Id } , new { @scope="row" })</td>
                @*<th scope="row"><a href="~/Customers/Edit/@customer.Id"><h3>@customer.Name</h3></a></th>*@
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>

