@{
    ViewBag.Title = "Confirmation de l'e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank for having confirmed your e-mail. Please @Html.ActionLink("Click here to connect", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
